bin
include
object_detection

# Custom
data/
models/ssd_mobilenet_v1_coco_2018_01_28
notebooks/TrafficLightDetection-Inference.ipynb
notebooks/object_detection
optimize_graph.py

# exception to the rule
!object_detection/utils/