bin
include
object_detection

# Custom
models/
data/
notebooks/TrafficLightDetection-Inference.ipynb
notebooks/object_detection
optimize_graph.py

# exception to the rule
!models/exported
!models/converted_to_TFv14
